
<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">
    <section class="section  section--description">
        <div class="fb-page" data-href="https://www.facebook.com/tamtammacadam" data-tabs="timeline" data-width="300"
             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/tamtammacadam" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/tamtammacadam">
                    Notre page Facebook
                </a>
            </blockquote>
        </div>
    </section>
</aside>
